<ion-header>
  <ion-navbar>
    <ion-title>{{ this.locationName }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content fullscreen="true" padding>
  <div *ngIf="location && forecast" margin-top>
    <ion-row>
      <ion-col col-12 text-center>
        <h1>
          {{ forecast.currently.temperature | number:'.0-0' }}&deg;C
        </h1>
        <h1>
          <ion-icon name="{{ forecast.currently.icon | weatherIcon }}"></ion-icon>
          {{ forecast.currently.summary }}
        </h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <p>
          Pressure: {{ forecast.currently.pressure | number:'.0-0' }} hPa
        </p>
      </ion-col>
      <ion-col col-6>
        <p>
          Wind Speed: {{ forecast.currently.windSpeed | number:'.0-0' }} m/s
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3 *ngFor="let index of [0,1,2,3]">
        <p>
          {{ forecast.daily.data[index].time | formatDate:'dddd' }}
        </p>
        <h2>
          <ion-icon name="{{ forecast.daily.data[index].icon | weatherIcon }}"></ion-icon>
        </h2>
        <p>
          {{ forecast.daily.data[index].temperatureMax | number:'.0-0'}}&deg;C / {{ forecast.daily.data[index].temperatureMin | number:'.0-0'}}&deg;C
        </p>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
